@import "tailwindcss";

@theme {
  --color-neon-blue: #00f0ff;
  --color-neon-purple: #b500ff;
  --color-dark-bg: #0b0c10;
  --color-dark-card: #1f2833;
}

@layer base {
  body {
    @apply bg-dark-bg text-gray-100 antialiased;
  }
}
